.nav .header-logo a {
  text-decoration: none;
}

.nav .header-logo .circle-mg {
  border: 2px solid rgba(113, 24, 80, 0.3);
  background-color: rgba(113, 24, 80, 0.3);
  position: absolute;
  border-radius: 50%;
  padding: 35%;
  z-index: -1;
  margin-left: -30%;
  margin-top: -10%;
}

.nav-md {
  display: none;
}

.section-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  min-height: 600px;
}

.section-01 .img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.section-01 .img img {
  position: absolute;
  z-index: 1;
  width: 40%;
  margin-top: -120px;
}

.section-01 .txt {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: center;
}

.section-01 .txt h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.section-01 .txt h1 span {
  color: #d2195b;
  font-size: 4rem;
}

.section-01 .txt p {
  padding: 30px;
  font-size: 1.5em;
}

.section-01 .txt button {
  background-color: #4e0e3c;
  color: white;
  border: 2px solid #4e0e3c;
  border-radius: 10%;
  width: 80px;
  height: 40px;
  font-weight: bold;
  width: 150px;
  padding: 10px;
}

.section-01 .txt button a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
}

@media only screen and (max-width: 374px) {
  .nav .circle-mg {
    display: none;
  }
  .nav-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .nav-md .nav-1 {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    height: 80px;
  }
  .nav-md button {
    background-color: #4e0e3c;
    color: white;
    border: 2px solid #4e0e3c;
    border-radius: 10%;
    width: 80px;
    height: 40px;
    font-weight: bold;
    width: 100px;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-md button a {
    text-decoration: none;
    color: inherit;
  }
  .section-01 .img {
    display: none;
  }
  .section-01 .txt {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .section-01 p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .nav .circle-mg {
    display: none;
  }
  .nav-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .nav-md .nav-1 {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    height: 80px;
  }
  .nav-md button {
    background-color: #4e0e3c;
    color: white;
    border: 2px solid #4e0e3c;
    border-radius: 10%;
    width: 80px;
    height: 40px;
    font-weight: bold;
    width: 100px;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-md button a {
    text-decoration: none;
    color: inherit;
  }
  .section-01 .img {
    display: none;
  }
  .section-01 .txt {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .nav .circle-mg {
    display: none;
  }
  .section-01 .img {
    display: none;
  }
  .section-01 .txt {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-01 .img {
    display: none;
  }
  .section-01 .txt {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.nav .circle-mdx {
  border: 2px solid rgba(113, 24, 80, 0.3);
  background-color: rgba(113, 24, 80, 0.3);
  position: absolute;
  border-radius: 50%;
  padding: 35%;
  margin-left: 35px;
  z-index: -1;
}

.section-02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  min-height: 200px;
}

.section-02 .txt {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.section-02 .txt p {
  color: inherit;
  font-size: 4rem;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 100px;
}

.section-02 .txt p span {
  font-size: 4rem;
  color: #d2195b;
  font-weight: bold;
}

.section-02 .txt button {
  background-color: #4e0e3c;
  color: white;
  border: 2px solid #4e0e3c;
  border-radius: 10%;
  width: 80px;
  height: 40px;
  font-weight: bold;
  width: 220px;
  margin-left: 25px;
  margin-top: -30%;
}

.section-02 .txt button a {
  color: inherit;
  text-decoration: none;
}

.section-02 .img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.section-02 .img .picture-board {
  border: 0px solid black;
  min-height: 100px;
  position: absolute;
  z-index: 1;
  margin-top: 30px;
  margin-left: 25px;
  min-width: 100px;
}

.section-02 .img .picture-board img {
  width: 40%;
  height: 200px;
  float: left;
}

.section-02 .img .picture-board img:first-child {
  margin-left: 50px;
}

.section-02 .img .picture-board .img-move {
  margin-left: 50px;
}

.section-02 .img .picture-board .clr {
  clear: both;
}

@media only screen and (max-width: 424px) {
  .section-02 .txt {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .section-02 .img {
    display: none;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .nav .circle-mdx {
    margin-left: -80px;
    margin-top: 110px;
  }
  .section-02 .txt {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .section-02 .img {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav .circle-mdx {
    margin-left: -80px;
    padding: 30%;
    margin-top: 100px;
  }
  .section-02 .img .picture-board {
    border: 0px solid black;
    margin-left: 0px;
    margin-top: 70px;
  }
  .section-02 .img .picture-board img {
    display: none;
  }
  .section-02 .img .picture-board img:first-child {
    display: block;
    width: 360px;
    margin-top: 50px;
    margin-left: 0px;
    height: 310px;
    float: clear;
  }
}

.nav-ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  min-height: 150px;
}

.nav-ls .header-logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.nav-ls .header-links {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.nav-ls .logo {
  width: 310px;
  margin-left: -6%;
  margin-top: -4%;
}

.nav-ls .header-links h1 {
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
}

.nav-ls .header-links h1 span {
  color: #d2195b;
  font-size: 4rem;
}

.section-03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  min-height: 100px;
}

.section-03 .img {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.section-03 .txt-form {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.section-03 .circle-mz {
  border: 2px solid rgba(113, 24, 80, 0.3);
  background-color: rgba(113, 24, 80, 0.3);
  position: absolute;
  border-radius: 50%;
  padding: 20%;
  margin-left: -200px;
  margin-top: -30px;
  z-index: -1;
}

.section-03 img {
  margin-top: 160px;
  width: 120%;
  margin-left: 40px;
}

.section-03 .form-field {
  min-height: 400px;
  width: 50%;
  border: 2px solid #711850;
  background: rgba(113, 24, 80, 0.3);
  margin-top: 20px;
  margin-left: 120px;
  border-radius: 3%;
}

.section-03 form {
  margin-left: 20px;
  margin-top: 60px;
}

.section-03 form p {
  margin-top: 20px;
  font-weight: bolder;
}

.section-03 form p input {
  border: 2px bold rgba(113, 24, 80, 0.3);
  border-radius: 5px;
  margin-left: 5px;
}

.section-03 form p input[type=text] {
  width: 240px;
}

.section-03 form p input[type=email] {
  width: 260px;
}

.section-03 form h5 {
  text-align: center;
}

.section-03 form h5 input[type=submit] {
  background: #d2195b;
  border: 2px solid #d2195b;
  font-weight: bolder;
  border-radius: 5px;
}

@media only screen and (max-width: 424px) {
  .nav-ls .header-logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .nav-ls .header-links {
    display: none;
  }
  .nav-ls .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .section-03 .img {
    display: none;
  }
  .section-03 .txt-form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .section-03 .form-field {
    width: 90%;
    margin-left: 15px;
  }
  .section-03 form p {
    text-align: center;
  }
  .section-03 form input[type=email] {
    width: 200px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .nav-ls .header-logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .nav-ls .header-links {
    display: none;
  }
  .nav-ls .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .section-03 .img {
    display: none;
  }
  .section-03 .txt-form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .section-03 .form-field {
    width: 80%;
    margin-left: 50px;
  }
  .section-03 form p {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .section-03 .form-field {
    width: 70%;
  }
  .section-03 form p {
    text-align: center;
  }
}

* {
  font-family: 'Saira', sans-serif;
  font-size: 1rem;
}

* ::before, * ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #2b1c47;
  color: white;
}

div {
  border: 0px solid black;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  min-height: 150px;
}

.nav .circle {
  border: 2px solid rgba(113, 24, 80, 0.3);
  background-color: rgba(113, 24, 80, 0.3);
  position: absolute;
  border-radius: 50%;
  padding: 12%;
  margin-left: -2%;
  margin-top: -8%;
  z-index: -1;
}

.nav .header-logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.nav .header-links {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.nav .logo {
  width: 310px;
  margin-left: -6%;
  margin-top: -4%;
}

.nav .nav-bar {
  display: none;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  display: inline;
}

.nav li:first-child {
  margin-left: 30%;
}

.nav a {
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
  margin-left: 9%;
  font-size: 1.5em;
}

.nav-ml {
  display: none;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.section .section-text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.section .section-text .title {
  font-size: 5em;
  font-weight: bolder;
  margin-top: -2%;
  margin-left: 8%;
}

.section .section-text #train-zero {
  display: none;
}

.section .section-text .subtitle {
  color: #d2195b;
  margin-left: 8%;
  font-weight: bold;
  margin-top: -15%;
}

.section .section-text #skip-zero {
  display: none;
}

.section .section-img {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.section .section-img .circle {
  border: 2px solid rgba(113, 24, 80, 0.3);
  background-color: rgba(113, 24, 80, 0.3);
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgba(113, 24, 80, 0.2);
  background-color: rgba(113, 24, 80, 0.2);
  padding: 21%;
  margin-left: 16%;
  z-index: -1;
}

.section .section-img img {
  margin-top: -10%;
}

.section button {
  background-color: #4e0e3c;
  color: white;
  border: 2px solid #4e0e3c;
  border-radius: 10%;
  width: 80px;
  height: 40px;
  font-weight: bold;
  width: 200px;
  display: block;
  margin-left: 8%;
  margin-top: 8%;
}

.section button a {
  color: inherit;
  text-decoration: none;
}

#colorChange {
  color: green;
}

@media only screen and (max-width: 374px) {
  #colorChange {
    color: red;
    display: none;
  }
  div {
    border: 0px solid black;
  }
  .nav .header-logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .nav .circle {
    display: none;
  }
  .nav .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .nav .header-links {
    display: none;
  }
  .nav-ml {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .nav-ml .nav-1 {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    height: 50px;
  }
  .nav-ml button {
    background-color: #4e0e3c;
    color: white;
    border: 2px solid #4e0e3c;
    border-radius: 10%;
    width: 80px;
    height: 40px;
    font-weight: bold;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-ml button a {
    text-decoration: none;
    color: inherit;
  }
  .section .section-text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .section-img {
    display: none;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  #colorChange {
    color: yellow;
    display: none;
  }
  div {
    border: 1px solid black;
  }
  .nav .header-logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .nav .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .nav .circle {
    display: none;
  }
  .nav .header-links {
    display: none;
  }
  .nav-ml {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .nav-ml .nav-1 {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    height: 50px;
  }
  .nav-ml button {
    background-color: #4e0e3c;
    color: white;
    border: 2px solid #4e0e3c;
    border-radius: 10%;
    width: 80px;
    height: 40px;
    font-weight: bold;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-ml button a {
    text-decoration: none;
    color: inherit;
  }
  .section .section-text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .section .title, .section .subtitle {
    text-align: center;
  }
  .section #train-zero {
    display: block !important;
    position: absolute;
    z-index: 1;
    width: 100px;
    margin-top: -120px;
  }
  .section #skip-zero {
    display: block !important;
    position: absolute;
    z-index: 1;
    width: 80px;
    margin-top: -20px;
    margin-left: 280px;
  }
  .section button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .section-img {
    display: none;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  #colorChange {
    color: orange;
    display: none;
  }
  div {
    border: 0px solid black;
  }
  body {
    height: 400px;
  }
  .nav .circle {
    padding: 20%;
    margin-left: -4%;
    margin-top: -10%;
  }
  .nav .header-logo {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    width: 40%;
  }
  .nav .logo {
    border: 0px solid white;
    width: 350px;
    margin-left: -23%;
    margin-top: -10%;
  }
  .nav li:first-child {
    margin-left: 0;
    margin-top: 30px;
  }
  .nav li a {
    font-size: 1em;
  }
  .section {
    height: 450px;
  }
  .section .section-text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .section .circle {
    border: 2px solid rgba(113, 24, 80, 0.3);
    background-color: rgba(113, 24, 80, 0.3);
    position: absolute;
    border-radius: 50%;
    padding: 30%;
    z-index: -1;
    margin-left: 28%;
    margin-top: 40px;
  }
  .section .title {
    font-size: 1.5em;
    text-align: center;
    font-weight: lighter;
  }
  .section .subtitle {
    font-size: 2em;
    text-align: center;
    margin-top: 8%;
  }
  .section #train-zero {
    display: block !important;
    position: absolute;
    z-index: 1;
    width: 40%;
    margin-top: -260px;
    margin-left: -30px;
  }
  .section #skip-zero {
    display: block !important;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 67%;
    margin-bottom: 25px;
  }
  .section button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .section-img {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #colorChange {
    color: greenyellow;
    display: none;
  }
  div {
    border: 0px solid black;
  }
  .nav li:first-child {
    margin-left: 3%;
    margin-top: 30px;
  }
  .nav li a {
    font-size: 1.4em;
  }
}
/*# sourceMappingURL=style.css.map */